name: Daily Auto Test

on:
  schedule:
    - cron: '30 6 * * *'
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Automation system is running successfully"
