name: Daily Auto Test

on:
  schedule:
    - cron: '30 6 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run script
        run: python3 script.py

